.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

.header__profile{
  display: flex;
  gap: 56px;
}

.header__link {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: right;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 544px) {
  .header {
    min-height: 85px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}
